.articleLogin{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    height: 100%;
}
.articleRegistry{
    display: flex;
    justify-content:center;
    align-items: center;
}
.backgroundGradientOrangeFFA{
    background: linear-gradient(to bottom,#e6e6e6,#FFFAFA,#FFFAFA);
}
.flexColumn{
    display: flex;
    flex-direction: column;
}
.flexRow{
    display: flex;
    flex-direction: row;
}
.justifyContentCenter{
    display:flex;
    justify-content: center;
}
.aligmItemsCenter{
    display:flex;
    align-items: center;
}
.justifyAndAlignCenter{
    display:flex;
    align-items: center;
    justify-content: center;
}
.aligmSelfCenter{
    align-self: center;
}
.borderRadius20{
    border-radius: 20px;
}
.textSize28{
    font-size: 28px;
}
.textSize23{
    font-size: 23px;
}
.textSize18{
    font-size: 18px;
}
.textSize15{
    font-size: 15px;
}
.textSize48{
    font-size: 48px;
}
.fontBold{
    font-weight: bold;
}
.font-bold-300{
    font-weight:500;
}
.fontColorOrange{
    color:#f99900;
}
.inputData{
    width: 85%;
    min-height: 50px;
}
.input-Height{
    min-height: 50px;
}
.inputDataSmall{
    width: 85%;
    min-height: 40px;
}
.cursorPointerHover:hover{
    cursor: pointer;
}
.marginLeft10{
    margin-left:10px;
}
.textDecorationNone{
    text-decoration:none;
}
.colorTextWhite{
    color:#FFFAFA;
}
.inputDanger{
    border-radius: 5px;
    border:0.5px solid red;
}

.btnRegistry{
    border-radius: 10px;
    font-size:23px;
    font-weight: 400;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#FFFAFA;
}
.btnRegistry:hover{
    cursor:pointer;
    color: #FFFAFA;
}
.display-none{
    display: none;
}
.vertical-align-bottom{
    vertical-align: baseline;
}