.rounded-bottom{
    border-bottom-left-radius:30px;
    border-bottom-right-radius: 30px;
}
.bg-ffa{
    background:#FFFAFA;
}
.rounded-30{
    border-radius:30px;
}
.text-center{
    text-align: center;
}
.margin-auto{
    margin-left:auto;
    margin-right:auto;
}
.linhaDark{
    height:5px;
    background:#FF8C00;
}
.bg-quantity-product{
    border-radius: 10px;
    transition:transform 0.1s,color 0.1s,background 0.1s;
}
.bg-quantity-product:hover{
    cursor: pointer;
    background:#1C1C1C;
    transform: scale(1.1);
    color:#FFFAFA;
}
.border-bottom{
    border-bottom: 1px solid #3333;
}
