.inputPesquisa{
    padding-left:30px; 
    background-image:url('../../assets/img/utils/procurar.png');
    background-size: 20px 20px;
    background-repeat:no-repeat;
    background-position: left;
}
.input-sem-borda{
    padding-top:5px;
    padding-bottom:5px;
    outline:none;
    border: none;
}
.input-sem-borda:focus{
    border:1px solid black;
}
.bg-shadow{
    transition:transform 0.2s,color 0.2s,background 0.2s;
}
.bg-shadow:hover{
    background:#ff9c00;
    transform: scale(1.1);
    color:#FFFAFA;
}